@import url('normalize.css');

body{
    font-family: 'Ubuntu', sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    background: #9bc698;
}

header h1{
    color:#49874e;
    font-weight: 700;
    font-size: 34px;
}

header img{
    padding: 10px;
}

footer{
    border-top: 2px solid #49874e;
    background: #9bc698;
}

footer img{
    max-width: 1920px;
    width: 100%;
    height: auto;
}

main{
    max-width: 100%;
    min-height: 90vh;
    height: auto;
    max-height: 100%;
    background: #9bc698;
    display: flex;
    flex-direction: row;
}

.content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.row_with_title{
    display: flex;
    justify-content: center;
    background: #c8e4cc;
    color: #49874e;
    text-align: center;
}

.back_btn{
    margin: 40px;
    width: 200px;
    height: 50px;
    background: #c8e4cc;
    color: #fff;
    border: none;
    text-align: center;
    border-radius: 25px;
    transition: 200ms;
}

.back_btn:hover{
    transform: scale(1.1);
    background: #b8e1be;
}

.back_btn a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
}

.quiz{
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.quiz_wrppaper{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.answer_buttons{
    display: flex;
    flex-direction: column;
}

.question_name{
    text-align: center;
    color:#49874e;  
    font-weight: 400;
}

.ans_btn{
    min-width: 700px;
    width: 100%;
    height: 80px;
    font-size: 20px;
    background: #c8e4cc;
    padding: 5px 10px;
    margin: 5px 0px;
    border: 2px solid #49874e;
    border-radius: 4px;
    transition: 300ms;
}

.ans_btn:hover:not([disabled]){
    background: rgb(179, 227, 175);
    color:#000;
}

.ans_btn:disabled{
    color: #000;
    cursor: no-drop;

}

.next_button{
    background: #49874e;
    padding: 10px 20px;
    margin-top: 15px;
    font-weight: 500;
    color: #fff;
    border: 3px solid #9bc698;
    border-radius: 4px;
    transition: 300ms;
    height: 60px;
    width: 300px;
    align-self: center;
    justify-content: center;
}

.next_button:hover{
    transform: scale(1.1);
}

.correct{
    background: #16da6b;
}

.incorrect{
    background: #ff9393;
}

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}


.quiz_cont{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.quiz_wrapper{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.blocked_content{
    width: 700px;
    height: 600px;
    background-color: #afc9ad;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    color:#ffffff
}

.block200{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block300{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hiden_content200{
    display: none;
}

.hiden_content300{
    display: none;
}

.row_with_back_btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.score_info{
    margin-right: 40px;
    padding: 15px;
    background: #8eba8b;
    color: #fff;
}

.quiz_300{
    padding-bottom: 50px;
}

.question_label{
    color: #fff;
    background: #8eba8b;
    padding: 10px;
}

.end_quiz{
    display: none;
    color: #fff;
    padding: 50px;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.end_message{
    font-size: 30px;
}